USE [dbQLNH]
GO
/****** Object:  StoredProcedure [dbo].[USP_getIDFood]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_getIDFood](@nameFood nvarchar(50), @idFood int OUTPUT)
AS
BEGIN
    SELECT @idFood = id FROM monAn WHERE tenMon LIKE @nameFood;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillRoom]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBillRoom]
@idRoom INT
AS
BEGIN
	INSERT dbo.hoaDon 
	        ( idPhong,
			tongTien,
			ngayTao,idBan,status
	        )
	VALUES  ( 
	          @idRoom ,
			  0,
			  GETDATE(),null,0
	          
	        )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillTable]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBillTable]
@idTable INT
AS
BEGIN
	INSERT dbo.hoaDon 
	        ( idBan,
			tongTien,
			ngayTao,idPhong,status
	        )
	VALUES  ( 
	          @idTable ,
			  0,
			  GETDATE()
	          ,null,0
	        )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCTHoaDon]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertCTHoaDon]
@idBill INT, @nameFood nvarchar(50), @count INT
AS
BEGIN

	DECLARE @isExitsBillInfo INT
	DECLARE @foodCount INT = 1
	DECLARE @idFood int
	EXEC USP_getIDFood @nameFood, @idFood OUTPUT;
	
	SELECT @isExitsBillInfo =b.id, @foodCount = b.soLuong 
	FROM ctHoaDon AS b 
	WHERE idHD = @idBill AND idMon = @idFood

	IF (@isExitsBillInfo > 0)
	BEGIN
		DECLARE @newCount INT = @foodCount + @count
		IF (@newCount > 0)
			UPDATE dbo.ctHoaDon	SET soLuong = @foodCount + @count WHERE idMon = @idFood and idHD = @idBill
		ELSE
			DELETE dbo.ctHoaDon WHERE idHD = @idBill AND idMon = @idFood
	END
	ELSE
	BEGIN
		INSERT	dbo.ctHoaDon
        ( idHD, idMon, soLuong )
		VALUES  ( @idBill, -- idBill - int
          @idFood, -- idFood - int
          @count  -- count - int
          )
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowBillRoom]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_ShowBillRoom]
@idRom int
as
begin
	SELECT f.tenMon, bi.soLuong, f.gia, f.gia*bi.soLuong AS totalPrice FROM ctHoaDon AS bi, hoaDon AS b, monAn AS f WHERE bi.idHD = b.id AND bi.idMon = f.id AND b.idPhong = @idRom and b.status=0
end
GO
/****** Object:  StoredProcedure [dbo].[USP_ShowBillTable]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_ShowBillTable]
@idBan int
as
begin
	SELECT f.tenMon, bi.soLuong, f.gia, f.gia*bi.soLuong AS totalPrice FROM ctHoaDon AS bi, hoaDon AS b, monAn AS f WHERE bi.idHD = b.id AND bi.idMon = f.id AND b.idBan = @idBan and b.status=0
end
GO
/****** Object:  Table [dbo].[Account]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[PassWord] [nvarchar](1000) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[banAn]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_Ban] [nvarchar](50) NULL,
	[trang_Thai] [nvarchar](50) NULL,
 CONSTRAINT [PK_banAn] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ctHoaDon]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctHoaDon](
	[idHD] [int] NOT NULL,
	[idMon] [int] NOT NULL,
	[soLuong] [int] NULL,
	[donGia] [float] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ctHoaDon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[datBan]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[idBan] [int] NULL,
 CONSTRAINT [PK_datBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[datPhong]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datPhong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[idPhong] [int] NULL,
 CONSTRAINT [PK_datPhong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hoaDon]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBan] [int] NULL,
	[ngayTao] [datetime] NULL,
	[tongTien] [float] NULL,
	[idPhong] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_hoaDon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kiemTraTon]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kiemTraTon](
	[id] [int] NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_kiemTraTon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[loaiMonAn]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaiMonAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_loaiMonAn] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[monAn]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenMon] [nvarchar](50) NULL,
	[gia] [float] NULL,
	[idLoai] [int] NULL,
 CONSTRAINT [PK_monAn] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nhapKho]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhapKho](
	[id] [int] NOT NULL,
	[tenNguyenLieu] [nvarchar](50) NULL,
	[soLuong] [int] NULL,
	[donGia] [float] NULL,
 CONSTRAINT [PK_nhapKho] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhongAn]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenPhong] [nvarchar](50) NULL,
	[trangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhongAn] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[xuatKho]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xuatKho](
	[id] [int] NOT NULL,
	[tenNguyenLieu] [nvarchar](50) NULL,
	[soLuongTon] [int] NULL,
 CONSTRAINT [PK_xuatKho] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([UserName], [DisplayName], [PassWord], [Type]) VALUES (N'Ad', N'Admin', N'1', 1)
INSERT [dbo].[Account] ([UserName], [DisplayName], [PassWord], [Type]) VALUES (N'nv1', N'Nhân viên 01', N'1', 0)
SET IDENTITY_INSERT [dbo].[banAn] ON 

INSERT [dbo].[banAn] ([id], [ten_Ban], [trang_Thai]) VALUES (1, N'Bàn 01', N'Đã Đặt')
INSERT [dbo].[banAn] ([id], [ten_Ban], [trang_Thai]) VALUES (2, N'Bàn 02', N'Có người')
INSERT [dbo].[banAn] ([id], [ten_Ban], [trang_Thai]) VALUES (3, N'Bàn 03', N'Có người')
SET IDENTITY_INSERT [dbo].[banAn] OFF
SET IDENTITY_INSERT [dbo].[ctHoaDon] ON 

INSERT [dbo].[ctHoaDon] ([idHD], [idMon], [soLuong], [donGia], [id]) VALUES (62, 3, 2, NULL, 1176)
INSERT [dbo].[ctHoaDon] ([idHD], [idMon], [soLuong], [donGia], [id]) VALUES (63, 1, 5, NULL, 1177)
INSERT [dbo].[ctHoaDon] ([idHD], [idMon], [soLuong], [donGia], [id]) VALUES (63, 2, 3, NULL, 1178)
SET IDENTITY_INSERT [dbo].[ctHoaDon] OFF
SET IDENTITY_INSERT [dbo].[datBan] ON 

INSERT [dbo].[datBan] ([id], [tenKH], [sdt], [idBan]) VALUES (10, N' Tiến', N'01516565', 2)
SET IDENTITY_INSERT [dbo].[datBan] OFF
SET IDENTITY_INSERT [dbo].[datPhong] ON 

INSERT [dbo].[datPhong] ([id], [tenKH], [sdt], [idPhong]) VALUES (2, N'Huu', N'11512', 2)
SET IDENTITY_INSERT [dbo].[datPhong] OFF
SET IDENTITY_INSERT [dbo].[hoaDon] ON 

INSERT [dbo].[hoaDon] ([id], [idBan], [ngayTao], [tongTien], [idPhong], [status]) VALUES (62, 1, CAST(N'2023-04-09 22:43:51.080' AS DateTime), 20000, NULL, 1)
INSERT [dbo].[hoaDon] ([id], [idBan], [ngayTao], [tongTien], [idPhong], [status]) VALUES (63, 2, CAST(N'2023-04-09 22:44:01.120' AS DateTime), 240000, NULL, 1)
INSERT [dbo].[hoaDon] ([id], [idBan], [ngayTao], [tongTien], [idPhong], [status]) VALUES (64, 1, CAST(N'2023-04-09 22:47:18.120' AS DateTime), 120000, NULL, 1)
SET IDENTITY_INSERT [dbo].[hoaDon] OFF
SET IDENTITY_INSERT [dbo].[loaiMonAn] ON 

INSERT [dbo].[loaiMonAn] ([id], [tenLoai]) VALUES (1, N'Nước')
INSERT [dbo].[loaiMonAn] ([id], [tenLoai]) VALUES (2, N'Bia, rượu')
INSERT [dbo].[loaiMonAn] ([id], [tenLoai]) VALUES (3, N'Đồ nhắm')
SET IDENTITY_INSERT [dbo].[loaiMonAn] OFF
SET IDENTITY_INSERT [dbo].[monAn] ON 

INSERT [dbo].[monAn] ([id], [tenMon], [gia], [idLoai]) VALUES (1, N'Bia tiger', 80000, 2)
INSERT [dbo].[monAn] ([id], [tenMon], [gia], [idLoai]) VALUES (2, N'Bia strong bow', 21000, 2)
INSERT [dbo].[monAn] ([id], [tenMon], [gia], [idLoai]) VALUES (3, N'Nước suối', 10000, 1)
SET IDENTITY_INSERT [dbo].[monAn] OFF
INSERT [dbo].[nhapKho] ([id], [tenNguyenLieu], [soLuong], [donGia]) VALUES (1, N'Gà', 4, 4000)
INSERT [dbo].[nhapKho] ([id], [tenNguyenLieu], [soLuong], [donGia]) VALUES (2, N'Bò', 2, 9000)
INSERT [dbo].[nhapKho] ([id], [tenNguyenLieu], [soLuong], [donGia]) VALUES (3, N'Vịt', 3, 3000)
SET IDENTITY_INSERT [dbo].[PhongAn] ON 

INSERT [dbo].[PhongAn] ([id], [tenPhong], [trangThai]) VALUES (1, N'Phòng VIP 01', N'Đã Đặt')
INSERT [dbo].[PhongAn] ([id], [tenPhong], [trangThai]) VALUES (2, N'Phòng VIP 02', N'Có người')
INSERT [dbo].[PhongAn] ([id], [tenPhong], [trangThai]) VALUES (3, N'Phòng VIP 03', N'Trống')
SET IDENTITY_INSERT [dbo].[PhongAn] OFF
INSERT [dbo].[xuatKho] ([id], [tenNguyenLieu], [soLuongTon]) VALUES (1, N'Gà chiên Xù', 4)
INSERT [dbo].[xuatKho] ([id], [tenNguyenLieu], [soLuongTon]) VALUES (2, N'Bò tái chanh', 2)
INSERT [dbo].[xuatKho] ([id], [tenNguyenLieu], [soLuongTon]) VALUES (3, N'Vịt hầm thuốc bắc ', 3)
ALTER TABLE [dbo].[ctHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ctHoaDon_hoaDon1] FOREIGN KEY([idHD])
REFERENCES [dbo].[hoaDon] ([id])
GO
ALTER TABLE [dbo].[ctHoaDon] CHECK CONSTRAINT [FK_ctHoaDon_hoaDon1]
GO
ALTER TABLE [dbo].[ctHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ctHoaDon_monAn1] FOREIGN KEY([idMon])
REFERENCES [dbo].[monAn] ([id])
GO
ALTER TABLE [dbo].[ctHoaDon] CHECK CONSTRAINT [FK_ctHoaDon_monAn1]
GO
ALTER TABLE [dbo].[datBan]  WITH CHECK ADD  CONSTRAINT [FK_datBan_banAn] FOREIGN KEY([idBan])
REFERENCES [dbo].[banAn] ([id])
GO
ALTER TABLE [dbo].[datBan] CHECK CONSTRAINT [FK_datBan_banAn]
GO
ALTER TABLE [dbo].[datPhong]  WITH CHECK ADD  CONSTRAINT [FK_datPhong_PhongAn] FOREIGN KEY([idPhong])
REFERENCES [dbo].[PhongAn] ([id])
GO
ALTER TABLE [dbo].[datPhong] CHECK CONSTRAINT [FK_datPhong_PhongAn]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_banAn1] FOREIGN KEY([idBan])
REFERENCES [dbo].[banAn] ([id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_banAn1]
GO
ALTER TABLE [dbo].[hoaDon]  WITH CHECK ADD  CONSTRAINT [FK_hoaDon_PhongAn1] FOREIGN KEY([idPhong])
REFERENCES [dbo].[PhongAn] ([id])
GO
ALTER TABLE [dbo].[hoaDon] CHECK CONSTRAINT [FK_hoaDon_PhongAn1]
GO
ALTER TABLE [dbo].[kiemTraTon]  WITH CHECK ADD  CONSTRAINT [FK_kiemTraTon_nhapKho] FOREIGN KEY([id])
REFERENCES [dbo].[nhapKho] ([id])
GO
ALTER TABLE [dbo].[kiemTraTon] CHECK CONSTRAINT [FK_kiemTraTon_nhapKho]
GO
ALTER TABLE [dbo].[monAn]  WITH CHECK ADD  CONSTRAINT [FK_monAn_loaiMonAn] FOREIGN KEY([idLoai])
REFERENCES [dbo].[loaiMonAn] ([id])
GO
ALTER TABLE [dbo].[monAn] CHECK CONSTRAINT [FK_monAn_loaiMonAn]
GO
ALTER TABLE [dbo].[xuatKho]  WITH CHECK ADD  CONSTRAINT [FK_xuatKho_nhapKho] FOREIGN KEY([id])
REFERENCES [dbo].[nhapKho] ([id])
GO
ALTER TABLE [dbo].[xuatKho] CHECK CONSTRAINT [FK_xuatKho_nhapKho]
GO
/****** Object:  Trigger [dbo].[update_table_status]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[update_table_status]
ON [dbo].[datBan]
FOR INSERT,UPDATE
AS
BEGIN
    UPDATE banAn
    SET trang_Thai = N'Đã Đặt'
    WHERE id IN (
        SELECT idBan
        FROM inserted
    )
END

GO
/****** Object:  Trigger [dbo].[update_room_status]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[update_room_status]
ON [dbo].[datPhong]
FOR INSERT,UPDATE
AS
BEGIN
    UPDATE PhongAn
    SET trangThai = N'Đã Đặt'
    WHERE id IN (
        SELECT idPhong
        FROM inserted
    )
END

GO
/****** Object:  Trigger [dbo].[update_ban_sautt_trigger]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[update_ban_sautt_trigger]
ON [dbo].[hoaDon]
AFTER UPDATE
AS
BEGIN
    UPDATE banAn
    SET trang_Thai = N'Trống'
    FROM INSERTED i
    WHERE i.idBan = banAn.id AND i.status = 1
END
GO
/****** Object:  Trigger [dbo].[update_ban_trigger]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[update_ban_trigger]
ON [dbo].[hoaDon]
AFTER INSERT
AS
BEGIN
    UPDATE banAn
    SET trang_Thai = N'Có người'
    WHERE id = (SELECT idBan FROM INSERTED where status=0)
END
GO
/****** Object:  Trigger [dbo].[update_Phong_sautt_trigger]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[update_Phong_sautt_trigger]
ON [dbo].[hoaDon]
AFTER UPDATE
AS
BEGIN
    UPDATE PhongAn
    SET trangThai = N'Trống'
    FROM INSERTED i
    WHERE i.idPhong = PhongAn.id AND i.status = 1
END
GO
/****** Object:  Trigger [dbo].[update_Phong_trigger]    Script Date: 20/04/2023 8:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[update_Phong_trigger]
ON [dbo].[hoaDon]
AFTER INSERT
AS
BEGIN
    UPDATE PhongAn
    SET trangThai = N'Có người'
    WHERE id = (SELECT idPhong FROM INSERTED where status=0)
END
GO
